---
import { urlForImage } from "../sanity/urlForImage";
import PageWrapper from "../layouts/PageWrapper.astro";
import { useSanityClient } from "astro-sanity";

type Post = {
  title: string;
  slug: { current: string };
  mainImage: {
    _type: "image";
    asset: {
      _ref: string;
      _type: string;
    };
  };
};

const posts = await useSanityClient().fetch(`*[_type == "post"]`);
---

<style>
  .page-title {
    margin: 6rem 0 1rem;
    font-size: 2.5rem;
    font-weight: 600;
  }
  
  .blogs-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }

  .blog-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    background-color: #ffffff;
    transition: all 0.3s ease;
    text-decoration: none;
  }

  .blog-image {
    width: 100%;
    border-radius: 8px;
    transition: all 0.3s ease;
  }


  .blog-title {
    font-size: 18px;
    transition: all 0.3s ease;
    font-weight: 500;
    color: black;
  }

  .blog-post:hover .blog-title {
    transform: translateY(-4px);
  }
</style>


<PageWrapper title="Home" description="Blog home page">
  <div class="container">
    <h1 class="page-title">Blog</h1>
    {
      posts && (
        <div class="blogs-list">
          {posts.map((post: Post) => (
            <a class="blog-post" href={`post/${post.slug.current}`}>
              <img
                class="blog-image"
                src={`${urlForImage(post.mainImage.asset).format("webp").url()}`}
                alt="Blog image"
              />
              <h2 class="blog-title">{post.title}</h2>
            </a>
          ))}
        </div>
      )
    }
  </div>
</PageWrapper>
